# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-random-secret-here

# Twilio API Credentials
TWILIO_ACCOUNT_SID=your-account-sid
TWILIO_AUTH_TOKEN=your-auth-token
TWILIO_PHONE_NUMBER=your-twilio-phone-number

# EspoCRM API Credentials
ESPO_CRM_URL=https://your-espocrm-instance.com
ESPO_CRM_API_KEY=your-espocrm-api-key 